@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Gastos</h4>
                    <p class="card-category">
                        <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> Aumento dos
                        gastos de hoje.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Atualizado 4 minutos abr
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Faturas</h4>
                    <p class="card-category">Histórico de Gastos</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Dados Aualizados há 2 dias abr
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-danger">
                    <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Pagamentos</h4>
                    <p class="card-category">Últimos Pagamentos Recebidos</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Dados Aualizados há 2 dias abr
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Controle de Pagamentos</h4>
                    <p class="card-category">Tabela de Pagamentos, 2019</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Pago</th>
                                <th>Restante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>João</td>
                                <td>$36,738</td>
                                <td>$10,738</td>
                                <td class="text-danger">
                                    <i class="fa fa-long-arrow-down"
                                       style="margin-right: 5px;"></i>$26,00
                                </td>
                            </tr>
                            <tr>
                                <td>Maria</td>
                                <td>$149,59</td>
                                <td>$150,00</td>
                                <td class="text-success"><i class="fa fa-long-arrow-up"></i> $0,41</td>
                            </tr>
                            <tr>
                                <td>Pedro</td>
                                <td>$60,38</td>
                                <td>$60,00</td>
                                <td class="text-danger">
                                    <i class="fa fa-long-arrow-down"
                                       style="margin-right: 5px;"></i>$0,38
                                </td>
                            </tr>
                            <tr>
                                <td>Fernanda</td>
                                <td>$87,15</td>
                                <td>$87,15</td>
                                <td>$0,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-warning">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">thumb_up</i> Pagantes
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#messages" data-toggle="tab">
                                        <i class="material-icons">thumb_down</i> Devedores
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Maria</td>
                                        <td class="td-actions text-right">
                                            <a href="./devedor.html" rel="tooltip" title="Editar"
                                                class="btn btn-white btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <button type="button" rel="tooltip" title="Remover"
                                                    class="btn btn-white btn-link btn-sm">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>Fernanda</td>
                                        <td class="td-actions text-right">
                                            <a href="./devedor.html" rel="tooltip" title="Editar"
                                                class="btn btn-white btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <button type="button" rel="tooltip" title="Remover"
                                                    class="btn btn-white btn-link btn-sm">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="messages">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" value="" checked>
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>João</td>
                                        <td class="td-actions text-right">
                                            <a href="./devedor.html" rel="tooltip" title="Editar"
                                                class="btn btn-white btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <button type="button" rel="tooltip" title="Remover"
                                                    class="btn btn-white btn-link btn-sm">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

